.desk {
    width: 660px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.card {

    list-style-type: none;
    padding-left: 0;
    /* Убирает отступ слева, который создается для маркированных списков */
    border: 1px solid blue;
    height: 125px;
    width: 125px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: rgb(175, 122, 223);
    text-align: center;
    
}
ul {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  
}
i {
   font-size: 70px;
   color: aliceblue;

}
.fa-heart{
    color: rgb(213, 3, 147);
}



.flip-card {
    margin-right: 5px;
    list-style-type: none;
    padding-left: 0;
    background-color: transparent;
    width: 125px;
    height: 125px;
    border-radius: 10px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .select .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color:rgb(175, 122, 223);
    color: black;
    border-radius: 10px;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: green;
    color:plum;
    transform: rotateY(180deg);
    border-radius: 10px;
  }
  .shake-match{
    animation: shake 0.5s;
  }
  @keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.match{
    background-color: blue;
    
}
